/*
    Ethan Penrose
    ITC 370
    11/13/2021
    Image Swapping
*/

/*
  Reset CSS
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    background-color: mintcream;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
  
    /*
      Flexbox
      https://css-tricks.com/couple-takes-sticky-footer/#there-is-flexbox
    */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

header {
    background-color: lightblue;
    text-align: center;
    border: 2px solid;
}

footer {
    background-color: lightblue;
    text-align: center;
    flex-shrink: 0;
    border: 2px solid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*
Navigation menu
https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color on hover */
nav li a:hover {
    background-color: lightcoral;
}

button {
    background: hotpink;
    border: 0;
    color: white;
    width: 200px;
    padding: 10px;
    text-transform:  uppercase;
    margin-right: 30px;
}

.thumbnail {
    height: 250px;
    width: 250px;
}

img {
    margin-top: 10px;
    margin-bottom: 5px;
}

.mainImage {
    height: 450px;
    width: 450px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}